RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.buildingcar\.ma$ [NC]
RewriteRule ^(.*)$ https://buildingcar.ma/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
